
.carritoContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 6rem;
}
  
.cartList {
    width: 100%;
    border-collapse: collapse;
    margin: 2px 0;
    font-size: 1.1rem;
   
  }
  
  .cartList_head {
    background-color: #f2f2f2;
  }
  
  .cartList_row td:nth-child(2) {
    font-size: 1.5rem;
 
  }

  
  .cartList td{
    text-align: center;
    padding: 2px;
   height: 7rem;
   border: 1px solid rgba(0, 0, 0, 0.192);
  }


  .cartList img {

  height: 120%;
  }
  
  .cartList th {
    font-weight: bold;
    text-align: center;
    padding: 2px;
    height: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.192);
  }
  
  
  

  
  .cartList_detail {
    margin-top: 20px;
    text-align: right;
  }
  
  .cartList_detail h4 {
    font-weight: bold;
    font-size: 24px;
  }

  .botonEliminar {
    width: 12%;
    height: 2rem;
    border-radius: 50%;
    color: white;
    transition: all 0.5s;
  }
  
  .botonEliminar:hover {
    background-color: #c63224;
    color: white;
    transform: scale(1.1);
  }
