.login-container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 30%;
    margin: auto;
    margin-top: 140px;
  }
  
  form{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 30vh;
    height: 30vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;

  }
  
  .label-input {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] ,
  input[type="email"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }


  
  button[type="submit"]:hover {
    background-color: #035d8a;
  }
  
  button[type="submit"]:active {
    transform: translateY(1px);
  }
  
  button[type="submit"]:focus {
    outline: none;
  }
  
  
  
  button[type="cancel"]:hover {
    background-color: #9b0808;
  }
  
  button[type="cancel"]:active {
    transform: translateY(1px);
  }
  
  button[type="cancel"]:focus {
    outline: none;
  }
  
  button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #008cba;
    border: 1px solid #008cba;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
  }
  
  button[type="cancel"] {
    width: 30%;
    padding: 10px;
    background-color: #f73c3c;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  button[type="button"]:hover {
    background-color: #008cba;
    color: #fff;
  }
  
  button[type="button"]:active {
    transform: translateY(1px);
  }
  
  button[type="button"]:focus {
    outline: none;
  }

  .form-button{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
  
